@{ 
    Layout = null;
}

<!Doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>Index</title>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <div>
            @ViewBag.Greeting World
            <p>
                We're going to have an existing party 
            </p>
            <p>
                And you are invited
                <br/> 
            </p>
            <a class="btn btn-primary" asp-action="RsvpForm">RSVP NOW</a>
        </div>
    </body>
</html>

