@model PartyInvites.Models.GuestResponce
@{ 
    Layout = null;
}

<!Doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>RsvpForm</title>
    </head>
    <body>
        <div>
            This is the RsvpForm
        </div>
    </body>
</html>

